spring:
  application:
    name: InventoryService
  jackson:
    serialization:
      indent-output: true
  mongodb:
    uri: mongodb+srv://pyjpallegama_db_user:L6RH88hyuwihvrj3@inventory-service-clust.m01s45s.mongodb.net/inventorydb?appName=Inventory-Service-Cluster

server:
  port: 8081

logging:
  level:
    root: INFO
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
